
<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name> jco web development</name>

  <description>
      We can create an awesome web site or web app for your business
  </description>

  <author href="http://jcowebdevelopment.com" email="julio@jcowebdevelopment.com">
      Julio Oseguera
  </author>

</widget>
