<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.jcowebdevelopmment.jcowebdevelopmentapp"
        versionCode = "1"
        version     = "1.0.0" >

    <name>Jco web development</name>

    <description>
        we can create an awesome web site or web app for your business
    </description>

    <author href="http://jcowebdevelopment.com" email="julio@jcowebdevelopment.com">
        Julio Oseguera 
    </author>

<plugin name="cordova-plugin-whitelist" />
<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />
  <icon src="icon.png" />
 <preference name="SplashScreen" value="splash" />
 <splash src="splash.png" />
        
   <splash src="splash.png" platform="android" width="320" height="480" />
</widget>
